.ProjectDetailView {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 900px;
}

.TitleAndVariations {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.BigTitle {
    text-transform: uppercase;
    text-align: center;
}

.SmallTitle {
    height: 40px;
}

.ImageSize {
    width: 70vw;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.VariationSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-bottom: 20px;

    border-top: 1.5px solid transparent;
    border-image: linear-gradient(to right, rgba(0,0,0,0), var(--color-border), rgba(0,0,0,0));
    border-image-slice: 1;
}

.DownloadButtonsSection {
    display: flex;
    flex-direction: row;
}

.WallpaperFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.WallpaperAppearance {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.WallpaperOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(50px);
    background-color: var(--color-dark-transparent);
}

@media (min-width: 1024px) {
    .ProjectDetailView {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        background-color: var(--color-dark);
        box-shadow: inset 0px 0px 15px var(--color-dark);
        border: 0.15vw solid transparent;
        border-image: linear-gradient(to right, var(--color-border-fade), var(--color-border), var(--color-border-fade));
        border-image-slice: 1;
    }
    .ImageSize {
        max-width: 500px;
        height: auto;
        margin-bottom: 0px;
        margin-left: 20px;
    }
}