.ProjectCardView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    backdrop-filter: blur(15px);
    padding-bottom: 10px;
}

.Title {
    text-transform: uppercase;
    pointer-events: none;
}

.ButtonsView {
    display: flex;
    flex-direction: row;
}

.ImageSize {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2.5px;
}

.ButtonsView {
    display: flex;
    flex-direction: row;
}

.OpenButton:hover,
.OpenButton:active {
    background-color: rgba(0,0,0,0);
    text-decoration: underline;
}

