.ProjectCardView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    backdrop-filter: blur(15px);
    padding-bottom: 10px;

    border-bottom: 1.5px solid transparent;
    border-image: linear-gradient(to right, rgba(0,0,0,0), var(--color-border), rgba(0,0,0,0));
    border-image-slice: 1;
}

.Title {
    text-transform: uppercase;
    pointer-events: none;
}

.ButtonsView {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ImageSize {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2.5px;
}

.ButtonsView {
    display: flex;
    flex-direction: row;
}

.OpenButton:hover,
.OpenButton:active {
    background-color: rgba(0,0,0,0);
    text-decoration: underline;
}

@media (min-width: 440px) {
    .ProjectCardView {
        justify-content:left;
        width: 80vw;
        min-height: 40vw;
        flex-direction: row;
        box-shadow: inset 0px 0px 15px var(--color-dark);

        border: 1.5px solid transparent;
        border-image: linear-gradient(to right, var(--color-border-fade), var(--color-border), var(--color-border-fade));
        border-image-slice: 1;
    }
    .TitleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        width: 15%;
        height: 100%;
    }
    .Title {
        transform: rotate(-90deg);
        font-size: 6vw;
    }
    .ImageAndNavigationContainer {
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 100%;
        overflow: hidden;
        margin-top: 1vw;
        margin-right: 1vw;
    }
    .ImageSize {
        width: auto;
        height: 100%;
        margin-top: 0px;
        object-fit: contain;
        border-radius: 0px;
    }
    .ButtonSize {
        min-width: 20vw;
        width: 20vw;
        min-height: 4vw;
        height: 4vw;
        border-radius: 2vw;
        margin: 1vw;
        font-size: 1.6vw;
    }
}

@media (min-width: 1024px) {
    .ProjectCardView {
        width: 800px;
        min-height: 400px;
    }
    .Title {
        font-size: 60px;
    }
    .ImageAndNavigationContainer {
        margin-top: 10px;
        margin-right: 10px;
    }
    .ButtonSize {
        min-width: 200px;
        width: 200px;
        min-height: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 10px;
        font-size: 16px;
    }
}