.ClientCreditsView {
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(15px);
    box-shadow: none;
    padding-bottom: 10px;

    border-bottom: 1.5px solid transparent;
    border-image: linear-gradient(to right, rgba(0,0,0,0), var(--color-border), rgba(0,0,0,0));
    border-image-slice: 1;
}

.Title {
    font-size: 30px;
}

.Text {
    font-size: 15px;
}

@media (min-width: 440px) {
    .ClientCreditsView {
        width: 80vw;
        height: 10vw;
        box-shadow: inset 0px 0px 15px var(--color-dark);
        padding-bottom: 1vw;

        border: 0.15vw solid transparent;
        border-image: linear-gradient(to right, var(--color-border-fade), var(--color-border), var(--color-border-fade));
        border-image-slice: 1;
    }
    .Title {
        font-size: 3vw;
    }
    .Text {
        font-size: 1.5vw;
    }
}

@media (min-width: 1024px) {
    .ClientCreditsView {
        width: 800px;
        height: 100px;
    }
    .Title {
        font-size: 30px;
    }
    .Text {
        font-size: 15px;
    }
}