.ClientCreditsView {
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    border: 1px solid var(--color-border);
    box-shadow: inset 0px 0px 15px var(--color-dark);
    padding-bottom: 10px;
}