.ProjectView {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 0px);
    height: calc(100vh - 45px);
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (min-width: 1024px) {
    .FullImageSize {
        width: 940px;
        margin-bottom: 100px;
    }
}