@keyframes oxidize {
  0% {
    color: var(--color-theme-primary);
    border-color: var(--color-theme-primary);
  }
  100% {
    color: var(--color-theme-secondary);
    border-color: var(--color-theme-secondary);
  }
}
/* copy-paste to apply:
animation: oxidise 120s ease-in-out forwards;
*/

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.85);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-border: rgba(200, 200, 200, 0.5);
  --color-border-fade: rgba(200, 200, 200, 0.1);
  --color-dark: rgba(23, 25, 27, 1);
  --color-dark-transparent: rgba(23, 25, 27, 0.6);
  --color-theme-primary: rgb(227, 134, 68);
  --color-theme-secondary: rgb(74, 177, 153);
}

body {
  margin: 0;
  overflow: hidden;
  box-shadow: inset 0px 0px 15px 10px var(--color-dark);
}

h1, p, button {
  color: rgba(250, 250, 250, 0.7);
  text-shadow: 0px 1px 1px var(--color-dark);
  margin: 0px;
}

a {
  color: var(--color-theme-primary);
  animation: oxidize 120s ease-in-out forwards;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  min-width: 160px;
  min-height: 40px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(0,0,0,0);
  backdrop-filter: blur(5px);
  box-shadow: 0px 2.5px 2.5px var(--color-dark-transparent);
  transition: all 0.15s ease;
  color: var(--color-theme-primary);
  font-size: 15px;
  animation: oxidize 120s ease-in-out forwards;
}
button:hover {
  box-shadow: 0px 2.5px 7.5px var(--color-dark);
  cursor: pointer;
}
button:hover {
  background-color: rgba(200, 200, 200, 0.25);
  color: rgb(250, 250,250);
  transition: all 0.05s ease;
}
button:active {
  box-shadow: inset 0px 0.5px 7.5px var(--color-dark);
  transition: all 0.05s ease;
}

img {
  border-radius: 3px;
}

li {
  padding-left: 25px;
  list-style-type: none;
}

table {

}

tr {
  margin-left: 10px;
  margin-right: 10px;
}

td {
  padding: 7.5px;
  text-align: center;
  font-size: 12px;
  opacity: 70%;
}

td > a {
  font-size: 12px;
  cursor: pointer;
}
